@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetUser</title>

    <script>

        function verifyInfo() {
            let isValid = true;
            let firstN = document.getElementById('firstNameElement');
            let lastN = document.getElementById('lastNameElement');
            let email = document.getElementById('emailElement');
            let password = document.getElementById('passElement');
            let passVerify = document.getElementById('passVerifyElement');
            let nameReg = /[a-zA-Z]{2,}/;
            let emailReg = /[a-zA-Z0-9]{2,}@@[a-zA-Z0-9]{2,}\.[a-zA-Z0-9]{2,}/;
            let passReg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$&+,:;=?@@#|'<>.-^*()%!])[A-Za-z\d$&+,:;=?@@#|'<>.-^*()%!]{4,}$/;

            if (!nameReg.test(firstN.value)) {
                let firstNameError = document.getElementById('firstNameError')
                firstNameError.innerHTML = 'First Name must be 2 or more characters';
                isValid = false;
            }
            else {
                firstNameError.innerHTML = '';
            }

            if (!nameReg.test(lastN.value)) {
                let lastNameError = document.getElementById('lastNameError')
                lastNameError.innerHTML = 'Last Name must be 2 or more characters';
                isValid = false
            }
            else {
                lastNameError.innerHTML = '';
            }

            if (!emailReg.test(email.value)) {
                let emailError = document.getElementById('emailError')
                emailError.innerHTML = 'Incorrect email';
                isValid = false;
            }
            else {
                emailError.innerHTML = '';
            }

            if (!passReg.test(password.value)) {
                let passError = document.getElementById('passError')
                passError.innerHTML = 'Invalid Password';
                isValid = false;
            }
            else {
                passError.innerHTML = '';
            }

            if (password.value != passVerify.value) {
                let passVerifyError = document.getElementById('passVerifyError')
                passVerifyError.innerHTML = 'Passwords not matching';
                isValid = false;
            }
            else {
                passVerifyError.innerHTML = '';
            }

            if (!isValid) {
                return false;
            }


        }


    </script>

</head>
<body>

    <h1>Client-Side Validation Lab</h1>

    <form method="post" action="/home/submit" onsubmit="return verifyInfo()">
        First Name: <input type="text" name="firstName" id="firstNameElement" />
        <div id="firstNameError">
            <h6> </h6>
        </div><br />
        Last Name: <input type="text" name="lastName" id="lastNameElement" />
        <div id="lastNameError">
            <h6> </h6>
        </div><br />
        Email: <input type="text" name="email" id="emailElement" />
        <div id="emailError">
            <h6> </h6>
        </div><br />
        Pass: <input type="password" name="password" id="passElement" />
        <div id="passError">
            <h6> </h6>
        </div><br />
        Re-Enter Pass: <input type="password" name="firstName" id="passVerifyElement" />
        <div id="passVerifyError">
            <h6> </h6>
        </div><br />
        <input type="submit" />
    </form>

</body>
</html>
